@font-face {
	font-family: zhajia;
	src: url(../font/zhajia.ttf);

}

@font-face {
	font-family: MapleMonoNormal;
	src: url(../font/MapleMonoNormal-Light.ttf);

}

body {
	background: url(../images/bg.png) no-repeat fixed;
	background-size: cover;
	margin: 0;
	font-family: MapleMonoNormal, Arial, "Microsoft YaHei", sans-serif;
	background-color: #81D0F7;
}

header {
	width: 100%;
	height: 75px;
	background-color: rgba(249, 249, 249, .8);
	top: 0;
	left: 0;
	position: fixed;
	border-radius: 0 0 15px 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

header .logo {
	display: block;
	width: 190px;
	height: 70;
	margin: auto;
	text-decoration: none;
	color: #81D0F7;
	font-family: zhajia, Arial, "Microsoft YaHei", sans-serif;
	font-weight: bold;
	font-size: 20px
}

header img {
	width: 50px;
	height: 50px;
	vertical-align: middle;
	border: 1px solid #81D0F7;
	border-radius: 90px;
	margin: 10px;
}



/* 移动端导航栏  */
header .outmenu {
	display: none;
	position: relative;
	top: -75px;
	left: 0;
}

header .inmenu {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 0;
	background-color: white;
	z-index: -1;
	padding-top: 75px;
	transition: opacity 0.2s ease;
	transition: height 0.2s ease;
}

header #menu {
	display: block;
	height: 50px;
	width: 50px;
	margin: 12.5px 20px;
	border-radius: 90px;
	float: left;
	appearance: none;
	background-color: #81D0F7;
	background-image: url(../images/menu.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px 30px;
}

header #menu:checked {
	background-image: url(../images/close.png);
}

header #menu:checked~.inmenu {
	visibility: visible;
	position: absolute;
	opacity: 1;
	top: 0;
	height: 100vh;
}

header .inmenu ul {
	padding: 0;
}

header .inmenu li {

	list-style: none;
}

header .inmenu a {
	display: block;
	width: 100%;
	height: 60px;
	text-decoration: none;
	color: #444;
	text-align: center;
	line-height: 60px;
	font-size: 18px;
}

header .inmenu a:hover {
	color: white;
	background-color: #ADE1F5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 个性化描述 */
.desc {
	width: 224px;
	margin: 20px;
	border-radius: 6px;
	padding: 4px 0;
	right: 0;
	top: 10%;
	position: fixed;
}

.desc p {
	padding: 0;
	margin: 0;
	text-indent: 1.5em;
	font-size: 14px;
}

.desc .tou {
	width: 184px;
	height: 184px;
	margin: 20px;
	border-radius: 90px;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.desc .ls,
.desc .tags {
	width: 224px;
	border-radius: 6px;
	box-sizing: border-box;
	padding: 16px;
	margin-bottom: 16px;
	overflow: hidden;
	background-color: rgba(249, 249, 249, .8);

}

.desc .sign {
	background-image: url(../images/Pencil.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 18px 18px;
	margin-bottom: 16px;
}

.desc .location {
	background-image: url(../images/MapMarker.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 18px 18px;
}

.desc .tags span {
	display: inline-block;
	padding: 9px;
	margin: 2px;
	background-color: white;
	border-radius: 13px;
	font-size: 14px;
}

/* 电脑端导航栏 */
nav {
	width: 224px;
	height: 345px;
	margin: 20px;
	border-radius: 6px;
	background-color: rgba(249, 249, 249, .8);
	overflow: auto;
	padding: 4px 0;
	top: 28%;
	position: fixed;
}

nav li {
	width: 184px;
	height: 40px;
	list-style: none;
	padding: 16px 0;
	margin: 0 20px;
	overflow: hidden;
	transition: height 0.2s ease-out;

}

nav ul {
	padding: 0;
	margin: 0;
}

nav li:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

nav li:hover {
	height: 94px;
}

nav :not(:hover) li.seleted {
	height: 94px;
}

nav a {
	text-decoration: none;
	color: #444;
	font-size: 16px;
}

nav .title {
	padding-left: 45px;
	background-repeat: no-repeat;
	background-position: 5px center;
	background-size: 22px 22px;
}

nav .bignav {
	height: 40px;
	margin-bottom: 16px;
	line-height: 40px;
}

nav .smallnav {
	height: 54px;
	text-align: center;
}

nav .bignav:hover {
	text-decoration: underline;
}

nav .smallnav a:hover {
	font-weight: bold;
}

.circle {
	background: url(../images/Circle.png);
}

.hexagon {
	background: url(../images/Hexagon.png);
}

.rhombus {
	background: url(../images/Rhombus.png);
}

.triangle {
	background: url(../images/Triangle.png);
}



/* 内容区域 */
.main-content {
	margin: 0 auto;
	margin-left: 264px;
	margin-right: 264px;
	margin-top: 95px;
	margin-bottom: 20px;
	border-radius: 6px;
	background-color: rgba(249, 249, 249, .8);
	padding: 20px;
}



/* 文章及评论 */
article {
	width: 100%;
	margin: auto;
	/* height: 1000px; */
	background-color: white;
	padding: 20px;
	box-sizing: border-box;
}

.pinglun {
	width: 100%;
	margin: auto;
	/* height: 1000px; */
	background-color: white;
	padding: 20px;
	box-sizing: border-box;
	margin-top: 10px;
}

.pinglun p input {
	width: 100%;
	height: 30px;
	border: 2px solid #ccc;
	border-radius: 5px;
}

.pinglun textarea {
	width: 100%;
	box-sizing: border-box;
	margin: 10px 0;
}

.pinglun input[type="submit"] {
	background-color: #81D0F7;
	width: 100%;
	height: 40px;
	color: white;
	border-radius: 5px;
	border-width: 0;
}

article h1 {
	text-align: center;
	line-height: 70px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	font-size: 35.2px;
	font-family: zhajia, Arial, "Microsoft YaHei", sans-serif;
}

article h2,
article h3 {
	font-family: zhajia, Arial, "Microsoft YaHei", sans-serif;
	font-size: 24px;
	color: #81D0F7;
}

article p {
	line-height: 30px;
	text-align: justify;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.87);
}

article a {
	color: #81D0F7;
}

article ul {
	padding-left: 25px;
}

article .img {
	text-align: center;
}

article img {
	width: 100%;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article .img p {
	text-align: center;
	padding: 0;
	margin: 0;
	color: rgba(0, 0, 0, 0.4);
	font-size: 13px;
}

article .img:hover img {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

article table {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 1PX 3px rgba(0, 0, 0, 0.2);
	border-collapse: collapse;
}

article table th {
	text-align: left;
	padding: 15px;
	color: rgba(0, 0, 0, 0.54);
}

article table td {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 15px;
}

/* 返回顶部 */
.top {
	display: block;
	width: 50px;
	height: 50px;
	background-color: #81D0F7;
	border-radius: 90px;
	position: fixed;
	right: 30px;
	bottom: 15vh;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-image: url(../images/top.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35px 35px;
}



/* 底部版权 */
footer {
	background-color: #333;
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	padding: 30px;
	font-size: 12.7px;
}



/* 响应式布局 */
@media only screen and (max-width:850px) {
	nav {
		display: none;
	}

	.desc {
		display: none;
	}

	.main-content {
		margin: 0 7px;
		margin-top: 95px;
		margin-bottom: 20px;
		padding: 15px;
	}


	article p {
		font-size: 16px;
	}

	header .outmenu {
		display: block;
	}
}


/* 响应式布局 */
@media only screen and (max-width:1150px) and (min-width:850px) {
	.desc {
		display: none;
	}

	.main-content {
		margin: 0 10px 10px 264px;
		margin-top: 95px;
		margin-bottom: 20px;
	}
}